---
title: About
heading: Our Team
subtitle: Meet our team of game industry veterans.
---

<section class="diagonal patterned">
	<div class="container halves aligned-top">
		<div>
			<ul class="image-grid">
				{% for member in site.staff_members %}
					<li>{% include staff-member.html member=member %}</li>
				{% endfor %}
			</ul>
		</div>
		<div>
			<p class="editable">Sanjay Madhav is an experienced game developer, award-winning game educator, and author of multiple books on game programming. Sanjay worked as a programmer at several video game developers including Electronic Arts, Neversoft, and Pandemic Studios. His credited games include <em>Medal of Honor: Pacific Assault</em>, <em>Tony Hawk’s Project 8</em>, <em>Lord of the Rings: Conquest</em>, and <em>The Saboteur</em>.</p>
			<p class="editable">In addition to his work as President and Principal Engineer of Loophole Games, Sanjay is a teaching faculty at the University of Southern California.</p>
			<p class="editable"><a href="/images/Sanjay_Madhav_Resume.pdf">Resume</a></p>
		</div>
	</div>
</section>
