---
title: Loophole Games
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">Game Programming Consultants</h2>
		<p class="subtext editable">With a proven track record and developers experienced in AAA game development, Loophole Games can help with your game's technical needs. Our expertise is games created with the Unreal&reg; Engine or with custom C++ codebases. Whether you need help with implementing new features or porting your game to different platforms, Loophole Games can help.</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Us</a></p>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<h3 class="editable">Games we've worked on</h3>
			<p class="editable">Here's a selection of some of the games our developers have had a hand in.</p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Full Portfolio &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>
